#bannerImage {
  width: 100%;
  height: 405px;
  background-position: center;
}

.MainTextBlock{
	margin: 0 auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-shadow: 2px 2px 4px #000;
	max-width: 880px;
	position: absolute;
    left: 60px;
    right: 60px;
	width: auto;
	top: 50%;
}

.MainHeader{
	margin-bottom: 20px;
	position: relative;
	display: block;
	text-align: center;
}

h1{
	margin-top: 0;
	margin-bottom: 0;
	text-shadow: 2px 2px 4px #000;
}

.links{
	display: inline-block;
	position: relative;
}

li{
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	list-style: none;
	padding-left: .6em;
    padding-right: .6em;
    padding-top: .8em;
    padding-bottom: .8em;
	letter-spacing: .2em;
}

a{
	color: inherit;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	letter-spacing: .5px;
	margin: 30px 20px 10px 30px;
}

.line{
	height: .5px;
	border-bottom: 2px solid #000;
	width: 35%;
	margin: 0 0 0 20px;
}

.profilePic{
	float: left;
	margin: 10px 20px 10px 20px;
}

.bio{
	float: left;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
	letter-spacing: .5px;
	padding: 10px 20px 10px 10px;
}

.footerLinks{
	clear: both;
	float: left;
	position: fixed;
	left: 30px;
	bottom: 8px;
	width: 100%;
}

.footerLinks2{
	padding: 0;
}

.contactBlock{
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}

.contactText{
	float: left;
	padding: 0 10px 10px 10px;
	margin:0 0 0 20px;
}

#contact_form{
	padding: 0 10px 10px 30px;
	float: left;
	letter-spacing: .5px;
}

#submit_button{
	font-family: 'Raleway'. sans-serif;
	color: #fff;
	background-color: #000;
	border-style: none;
	letter-spacing: .5px;
}

@media only screen and (max-width: 1157px){
	.bio{
		margin-left: 100px;
	}
	.profilePic{
		margin-left: 100px;
	}
}

@media only screen and (max-width: 929px) {
    .links{
    	color: #000;
    	text-shadow: 0 0 0 #fff;
    }
}

@media only screen and (max-width: 480px){
	.MainHeader{
		top: -70px;
	}
	.bio{
		margin-left: 0;
	}
	.profilePic{
		margin-left: 0;
	}
}

